.listaDocsPdf {
    height: 83vh;
    overflow: scroll;
}

.paginacion{
    padding-top: 0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.056);
}

/*
    RESET DE ESTILOS MATERIAL UI
*/

/* ESTILOS DE CAMPOS DE FECHAS */

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, 
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root, 
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, 
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    font-weight: bold;
    color: black!important;
    border-color: black!important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-width: 0.15em!important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black!important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 1.2em!important;
}
.contendorVisPdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.documentoPdf {
    max-width: 80%;
    width: 80%;
}