html,body{
    background-image: url(../img/escudoESCOM.jpg);
    background-repeat: repeat;
    height: 80%;
    font-family: 'Numans', sans-serif;
}
.alto{
    height: 70vh;
}
.card-titulo{
    background-color: rgba(0, 0, 0, 0.613);
    color: white;
    font-size: 1rem;
}
.card{
    background-color: rgba(0, 0, 0, 0.526);
}
.card-header{
    color: white;
}