.css-zlqlbd-MuiInputBase-root, .css-zlqlbd-MuiInputBase-root .MuiInputBase-input {
    height: 60.6px;
    font-size: 1.5em;
}

.MuiAppBar-colorPrimary {
    color: black!important;
    font-weight: bold;
}